#nav {
    position: absolute;
    top: calc(50% - 85px);
    left: calc(50% - 265px);
}
.link {
    display: inline-block;
    font-weight: bold;
    font-size: 1.5em;
    color: white;
    margin: 10px;
    padding: 50px;
    border-radius: 5px;
    background-color: #f71b66;
    transition: all 200ms ease;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}
.link:hover {
    background-color: #ff2b6e;
    transform: translateY(-3px);
    box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
}
