@import "../define";
@import "~@material/button/mixins";

:local #coin_balance {
  text-align: center;
  > h5 {
    margin-top: 35px;
    font-size: 1.1rem;
    font-weight: 800;
    color: #ff3c73;
  }
  > h6 {
    margin-top: 15px;
    color: #ff3c73;
    font-size: 2.2rem;
  }
}

:local #coin_balance_btn {
  margin-top: 25px;
  > button {
    width: 100px;
    height: 40px;
    font-weight: bold;
    border: 1px solid transparent;
  }
  > :first-child {
    margin-right: 6px;
    @include mdc-button-ink-color(white);
    @include mdc-button-outline-color(#3a5be7);
    @include mdc-button-filled-accessible(#4769f7);
  }
  > :last-child {
    @include mdc-button-ink-color(#363a42);
    @include mdc-button-outline-color(#e0e0e4);
    @include mdc-button-filled-accessible(white);
  }
}

:local #coin_balance_remaining {
  margin-top: 30px;
  border-top: 1px solid #eeeef4;
  > .box {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    width: 50%;
    padding: 20px 8px 15px 8px;
    &:first-child {
      border-right: 1px solid #eeeef4;
    }
    > span {
      font-weight: bold;
      letter-spacing: -0.4px;
      vertical-align: middle;
      &:first-child {
        float: left;
        opacity: 0.5;
        color: #363a42;
        font-size: 0.94rem;
      }
      &:last-child {
        float: right;
        color: #40444c;
        font-size: 1rem;
      }
    }
  }
}

:local #coin_description {
  padding: 15px 8px;
  > h3 {
    font-weight: 800;
    font-size: 1.1rem;
  }
}

:local #coin_description_table {
  margin-top: 10px;
  > .filter {
    padding: 8px 10px 6px 10px;
    border: solid 1px #eeeef2;
    background-color: #fafafc;
    > .button {
      opacity: 0.5;
      color: #363a42;
      font-size: 0.8rem;
      font-weight: bold;
      padding-right: 14px;
      &.active {
        opacity: 1;
      }
    }
  }
  > .table {
    position: relative;
    font-size: 0.8rem;
    white-space: nowrap;
    overflow-x: scroll;
    border-right: 1px solid #eeeef2;
    > li {
      display: inline-block;
      background-color: white;
      border-right: 1px solid #eeeef2;
      > span, h4 {
        border-bottom: 1px solid #eeeef2;
        padding: 8px 10px 6px 10px;
      }
    }
    > .header {
      left: 0;
      position: sticky;
      border-left: 1px solid #eeeef2;
      > h4 {
        color: #363a42;
        font-weight: bold;
      }
    }
    > .row {
      &:last-child {
        border-right: none;
      }
      > span {
        display: block;
        color: #363a42;
        &:last-child {
          color: #4769f7;
        }
      }
    }
  }
}
