@import '~@material/react-button/index';
@import '~@material/react-material-icon/index';

:local .container {
  padding: 5px;
  > .wrapper {
    margin-bottom: 10px;
    > .component {
      margin-left: 5px;
    }
  }
}
