@import "define";

@keyframes bear {
  0% { transform: translateY(0) rotate(-4deg); }
  50% { transform: translateY(-4px) rotate(4deg); }
  100% { transform: translateY(0) rotate(-4deg); }
}

@keyframes bear-face {
  0% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(-3px);
  }
  100% {
    transform: translateX(-50%) translateY(0);
  }
}

#bear {
  position: relative;
  margin-top: 30px;
  will-change: transform;
  animation-name: bear;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  transition: transform 3s ease;
  transform-origin: bottom center;
}

:local #bear_body {
  width: 100vw;
}

#bear_face {
  position: absolute;
  top: 48%;
  left: 50%;
  width: 30vw;
  will-change: transform;
  animation-name: bear-face;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  transition: transform 1.5s ease;
}


:local .menu {
  color: $brand_color3;
  font-weight: bold;
}
